# Nettoyage du dataset SBAnational

## Import librairies et datasets

In [59]:
import pandas as pd
import numpy as np
import pickle

In [60]:
data = pd.read_csv("datasets/SBAnational.csv")

/tmp/ipykernel_19522/972199569.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("datasets/SBAnational.csv")

## Suppression des colonnes

### Target leaking

In [61]:
col_to_drop = ["LoanNr_ChkDgt", "ChgOffDate", "DisbursementDate", "DisbursementGross", "BalanceGross", "ChgOffPrinGr"]
data = data.drop(col_to_drop, axis=1)

In [62]:
display(data.head())

,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,...,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,MIS_Status,GrAppv,SBA_Appv
0,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,84,...,2.0,0,0,1,0,N,Y,P I F,"$60,000.00","$48,000.00"
1,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,60,...,2.0,0,0,1,0,N,Y,P I F,"$40,000.00","$32,000.00"
2,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,180,...,1.0,0,0,1,0,N,N,P I F,"$287,000.00","$215,250.00"
3,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,60,...,1.0,0,0,1,0,N,Y,P I F,"$35,000.00","$28,000.00"
4,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,240,...,1.0,7,7,1,0,N,N,P I F,"$229,000.00","$229,000.00"

## Vérification valeurs manquantes

In [63]:
display(data.isnull().sum())

Name               14
City               30
State              14
Zip                 0
Bank             1559
BankState        1566
NAICS               0
ApprovalDate        0
ApprovalFY          0
Term                0
NoEmp               0
NewExist          136
CreateJob           0
RetainedJob         0
FranchiseCode       0
UrbanRural          0
RevLineCr        4528
LowDoc           2582
MIS_Status       1997
GrAppv              0
SBA_Appv            0
dtype: int64

### Target : MIS_Status

In [64]:
data = data.dropna(subset=["MIS_Status"])

On retire les observations pour lesquelles la target est manquante.

### Features

In [65]:
missing_values = data.isnull().sum()
col_missing_values = missing_values[missing_values > 0].index.tolist()

for feature in col_missing_values:
    print(f"Valeurs manquantes sur le subset {feature}")
    display(data[data[feature].isnull()].isnull().sum())

Valeurs manquantes sur le subset Name

Name             14
City              0
State             0
Zip               0
Bank              0
BankState         0
NAICS             0
ApprovalDate      0
ApprovalFY        0
Term              0
NoEmp             0
NewExist          0
CreateJob         0
RetainedJob       0
FranchiseCode     0
UrbanRural        0
RevLineCr         0
LowDoc            0
MIS_Status        0
GrAppv            0
SBA_Appv          0
dtype: int64

Valeurs manquantes sur le subset City

Name              0
City             30
State             0
Zip               0
Bank              2
BankState         2
NAICS             0
ApprovalDate      0
ApprovalFY        0
Term              0
NoEmp             0
NewExist          0
CreateJob         0
RetainedJob       0
FranchiseCode     0
UrbanRural        0
RevLineCr         0
LowDoc            0
MIS_Status        0
GrAppv            0
SBA_Appv          0
dtype: int64

Valeurs manquantes sur le subset State

Name              0
City              0
State            13
Zip               0
Bank              0
BankState         0
NAICS             0
ApprovalDate      0
ApprovalFY        0
Term              0
NoEmp             0
NewExist          0
CreateJob         0
RetainedJob       0
FranchiseCode     0
UrbanRural        0
RevLineCr         0
LowDoc            0
MIS_Status        0
GrAppv            0
SBA_Appv          0
dtype: int64

Valeurs manquantes sur le subset Bank

Name                0
City                2
State               0
Zip                 0
Bank             1506
BankState        1506
NAICS               0
ApprovalDate        0
ApprovalFY          0
Term                0
NoEmp               0
NewExist            0
CreateJob           0
RetainedJob         0
FranchiseCode       0
UrbanRural          0
RevLineCr           9
LowDoc              0
MIS_Status          0
GrAppv              0
SBA_Appv            0
dtype: int64

Valeurs manquantes sur le subset BankState

Name                0
City                2
State               0
Zip                 0
Bank             1506
BankState        1513
NAICS               0
ApprovalDate        0
ApprovalFY          0
Term                0
NoEmp               0
NewExist            0
CreateJob           0
RetainedJob         0
FranchiseCode       0
UrbanRural          0
RevLineCr           9
LowDoc              0
MIS_Status          0
GrAppv              0
SBA_Appv            0
dtype: int64

Valeurs manquantes sur le subset NewExist

Name               0
City               0
State              0
Zip                0
Bank               0
BankState          0
NAICS              0
ApprovalDate       0
ApprovalFY         0
Term               0
NoEmp              0
NewExist         134
CreateJob          0
RetainedJob        0
FranchiseCode      0
UrbanRural         0
RevLineCr          0
LowDoc             3
MIS_Status         0
GrAppv             0
SBA_Appv           0
dtype: int64

Valeurs manquantes sur le subset RevLineCr

Name                0
City                0
State               0
Zip                 0
Bank                9
BankState           9
NAICS               0
ApprovalDate        0
ApprovalFY          0
Term                0
NoEmp               0
NewExist            0
CreateJob           0
RetainedJob         0
FranchiseCode       0
UrbanRural          0
RevLineCr        4520
LowDoc              0
MIS_Status          0
GrAppv              0
SBA_Appv            0
dtype: int64

Valeurs manquantes sur le subset LowDoc

Name                0
City                0
State               0
Zip                 0
Bank                0
BankState           0
NAICS               0
ApprovalDate        0
ApprovalFY          0
Term                0
NoEmp               0
NewExist            3
CreateJob           0
RetainedJob         0
FranchiseCode       0
UrbanRural          0
RevLineCr           0
LowDoc           2578
MIS_Status          0
GrAppv              0
SBA_Appv            0
dtype: int64

## Nettoyage par colonnes

### MIS_Status

- CHGOFF = non remboursé (Charged Off) = 1
- PIF = remboursé (Paid In Full) = 0

In [66]:
mapping = {"CHGOFF": 0, "P I F": 1}

data["MIS_Status"] = data["MIS_Status"].map(mapping)
data["MIS_Status"].value_counts()

MIS_Status
1    739609
0    157558
Name: count, dtype: int64

### BankState

56 valeurs pour les états

### ApprovalFY

In [67]:
data["ApprovalFY"] = data['ApprovalFY'].astype(str).str.replace('[^\d]', '', regex=True)
data["ApprovalFY"].unique()

array(['1997', '1980', '2006', '1998', '1999', '2000', '2001', '1972',
       '2003', '2004', '1978', '1979', '1981', '2005', '1982', '1966',
       '1983', '1973', '1984', '2007', '1985', '1986', '1987', '2008',
       '1988', '2009', '1989', '1991', '1990', '1974', '2010', '2011',
       '1992', '1993', '2002', '2012', '2013', '1994', '2014', '1975',
       '1977', '1976', '1968', '1969', '1995', '1970', '1996', '1971'],
      dtype=object)

### NewExist

- 1 = existing business
- 2 = new business
- 0 = no info

In [68]:
mapping = {0.0: "0", 1.0: "Existing", 2.0: "New"}

data["NewExist"] = data["NewExist"].map(mapping)

data["NewExist"].value_counts()

NewExist
Existing    643446
New         252559
0             1028
Name: count, dtype: int64

### FranchiseCode

- 1 et 0 = no franchise -> 0
- other number = franchise

In [69]:
no_franchised = data[data["FranchiseCode"] == 1]

data.loc[no_franchised.index, "FranchiseCode"] = 0

### UrbanRural

- 0 = undefined
- 1 = Urban
- 2 = Rural

In [70]:
mapping = {0: "0", 1: "Urban", 2: "Rural"}

data["UrbanRural"] = data["UrbanRural"].map(mapping)
data["UrbanRural"].value_counts()

UrbanRural
Urban    469281
0        322826
Rural    105060
Name: count, dtype: int64

### GrAppv

In [71]:
data["GrAppv"] = pd.to_numeric(data['GrAppv'].str.replace("[^\d.]", "", regex=True), errors="coerce").astype(int)

### SBA_Appv

In [72]:
data["SBA_Appv"] = pd.to_numeric(data["SBA_Appv"].str.replace("[^\d.]", "", regex=True), errors="coerce").astype(int)

### RevLineCr

In [73]:
data["RevLineCr"] = data["RevLineCr"].replace("T", "Y")
rev_errors = data[(data["RevLineCr"] != "N") & (data["RevLineCr"] != "Y")]

data.loc[rev_errors.index, "RevLineCr"] = "0"

data["RevLineCr"].value_counts()

RevLineCr
N    419252
0    262016
Y    215899
Name: count, dtype: int64

### LowDoc

In [74]:
# low_subset = data[(data["LowDoc"] != "N") & (data["LowDoc"] != "Y")]
# display(low_subset["LowDoc"].value_counts())

# low_subset_y = low_subset[data["GrAppv"] < 150000]
# low_subset_n = low_subset[data["GrAppv"] >= 150000]

# data.loc[low_subset_n.index, "LowDoc"] = "N"
# data.loc[low_subset_y.index, "LowDoc"] = "Y"

# data["LowDoc"].value_counts()

In [75]:
low_errors = data[(data["LowDoc"] != "N") & (data["LowDoc"] != "Y")]

data.loc[low_errors.index, "LowDoc"] = "0"

data["LowDoc"].value_counts()

LowDoc
N    780997
Y    110171
0      5999
Name: count, dtype: int64

## Création nouvelles colonnes

### Zip2

In [76]:
data["Zip2"] = data["Zip"].astype(str).str[:2]

### NAICS2

In [77]:
data["NAICS2"] = data["NAICS"].astype(str).str[:2]

### Franchised

In [78]:
data["Franchised"] = 0
franchised = data[(data["FranchiseCode"] != 0) & (data["FranchiseCode"] != 1)]
data.loc[franchised.index, "Franchised"] = 1

mapping = {0: "N", 1: "Y"}
data["Franchised"] = data["Franchised"].map(mapping)

### RealEstate

In [79]:
data["RealEstate"] = 0
real_estate = data[data["Term"] >= 240]
data.loc[real_estate.index, "RealEstate"] = 1

mapping = {0: "N", 1: "Y"}
data["RealEstate"] = data["RealEstate"].map(mapping)

## Changement des types

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 897167 entries, 0 to 899163
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Name           897153 non-null  object
 1   City           897137 non-null  object
 2   State          897154 non-null  object
 3   Zip            897167 non-null  int64
 4   Bank           895661 non-null  object
 5   BankState      895654 non-null  object
 6   NAICS          897167 non-null  int64
 7   ApprovalDate   897167 non-null  object
 8   ApprovalFY     897167 non-null  object
 9   Term           897167 non-null  int64
 10  NoEmp          897167 non-null  int64
 11  NewExist       897033 non-null  object
 12  CreateJob      897167 non-null  int64
 13  RetainedJob    897167 non-null  int64
 14  FranchiseCode  897167 non-null  int64
 15  UrbanRural     897167 non-null  object
 16  RevLineCr      897167 non-null  object
 17  LowDoc         897167 non-null  object
 18  MIS_Status     897167 non-null  int64
 19  GrAppv         897167 non-null  int64
 20  SBA_Appv       897167 non-null  int64
 21  Zip2           897167 non-null  object
 22  NAICS2         897167 non-null  object
 23  Franchised     897167 non-null  object
 24  RealEstate     897167 non-null  object
dtypes: int64(10), object(15)
memory usage: 210.2+ MB

In [81]:
data = data.astype({"State": "category",
                    "Zip": "object", 
                    "BankState": "category",
                    "NAICS": "object",
                    "ApprovalDate": "datetime64[ns]",
                    "ApprovalFY": "category",
                    "NewExist": "category",
                    "FranchiseCode": "object",
                    "UrbanRural": "category",
                    "RevLineCr": "category",
                    "LowDoc": "category",
                    "Zip2": "category",
                    "NAICS2": "category",
                    "Franchised": "category",
                    "RealEstate": "category"})

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 897167 entries, 0 to 899163
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Name           897153 non-null  object
 1   City           897137 non-null  object
 2   State          897154 non-null  category
 3   Zip            897167 non-null  object
 4   Bank           895661 non-null  object
 5   BankState      895654 non-null  category
 6   NAICS          897167 non-null  object
 7   ApprovalDate   897167 non-null  datetime64[ns]
 8   ApprovalFY     897167 non-null  category
 9   Term           897167 non-null  int64
 10  NoEmp          897167 non-null  int64
 11  NewExist       897033 non-null  category
 12  CreateJob      897167 non-null  int64
 13  RetainedJob    897167 non-null  int64
 14  FranchiseCode  897167 non-null  object
 15  UrbanRural     897167 non-null  category
 16  RevLineCr      897167 non-null  category
 17  LowDoc         897167 non-null  category
 18  MIS_Status     897167 non-null  int64
 19  GrAppv         897167 non-null  int64
 20  SBA_Appv       897167 non-null  int64
 21  Zip2           897167 non-null  category
 22  NAICS2         897167 non-null  category
 23  Franchised     897167 non-null  category
 24  RealEstate     897167 non-null  category
dtypes: category(11), datetime64[ns](1), int64(7), object(6)
memory usage: 144.3+ MB

## Exportation du dataset global nettoyé

In [83]:
data = data.dropna()

data.to_csv("datasets/SBAnational-cleaned.csv", index=None)

data.to_pickle("datasets/dataset.pkl")

## Suppression valeurs incohérentes

In [84]:
data_test = data
data_test.shape

(895465, 25)

In [85]:
display(data[data["NAICS"] == 0].shape)
display(data[data["NewExist"] == "0"].shape)
display(data[data["RevLineCr"] == "0"].shape)
display(data[data["LowDoc"] == "0"].shape)

(200743, 25)

(1025, 25)

(261984, 25)

(5993, 25)

In [86]:
data_drop = data.dropna()
data_drop = data_drop[data_drop["NAICS"] != 0]
data_drop = data_drop[data_drop["NAICS2"] != "0"]
data_drop = data_drop[data_drop["NewExist"] != "0"]
data_drop = data_drop[data_drop["RevLineCr"] != "0"]
data_drop = data_drop[data_drop["LowDoc"] != "0"]

display(data_drop.shape)

(473218, 25)

In [87]:
data_drop.to_pickle("datasets/dataset_withoutBadValues.pkl")