# Exploration des données

## Importation librairies et dataset

In [5]:
import numpy as np
import pandas as pd
import pickle
import sweetviz as sv

In [6]:
data_lg = pd.read_pickle("datasets/dataset.pkl")
data_sm = pd.read_pickle("datasets/dataset_withoutBadValues.pkl")

In [7]:
data = data_sm
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 473218 entries, 0 to 899161
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Name           473218 non-null  object
 1   City           473218 non-null  object
 2   State          473218 non-null  category
 3   Zip            473218 non-null  object
 4   Bank           473218 non-null  object
 5   BankState      473218 non-null  category
 6   NAICS          473218 non-null  object
 7   ApprovalDate   473218 non-null  datetime64[ns]
 8   ApprovalFY     473218 non-null  category
 9   Term           473218 non-null  int64
 10  NoEmp          473218 non-null  int64
 11  NewExist       473218 non-null  category
 12  CreateJob      473218 non-null  int64
 13  RetainedJob    473218 non-null  int64
 14  FranchiseCode  473218 non-null  object
 15  UrbanRural     473218 non-null  category
 16  RevLineCr      473218 non-null  category
 17  LowDoc         473218 non-null  category
 18  MIS_Status     473218 non-null  int64
 19  GrAppv         473218 non-null  int64
 20  SBA_Appv       473218 non-null  int64
 21  Zip2           473218 non-null  category
 22  NAICS2         473218 non-null  category
 23  Franchised     473218 non-null  category
 24  RealEstate     473218 non-null  category
dtypes: category(11), datetime64[ns](1), int64(7), object(6)
memory usage: 59.1+ MB

In [11]:
for col in data.columns:
    display(col)
    display(data[col].unique())

'Name'

array(['ABC HOBBYCRAFT', 'LANDMARK BAR & GRILLE (THE)',
       'WHITLOCK DDS, TODD M.', ..., 'PULLTARPS MFG.', 'FABRIC FARMS',
       'RADCO MANUFACTURING CO.,INC.'], dtype=object)

'City'

array(['EVANSVILLE', 'NEW PARIS', 'BLOOMINGTON', ..., 'BARATARIA',
       'FRITCH', 'ELLICOTT'], dtype=object)

'State'

['IN', 'CT', 'FL', 'NC', 'IL', ..., 'WV', 'SD', 'DE', 'DC', 'HI']
Length: 51
Categories (51, object): ['AK', 'AL', 'AR', 'AZ', ..., 'WA', 'WI', 'WV', 'WY']

'Zip'

array([47711, 46526, 47401, ..., 66549, 97865, 79036], dtype=object)

'Bank'

array(['FIFTH THIRD BANK', '1ST SOURCE BANK', 'GRANT COUNTY STATE BANK',
       ..., 'MAHOPAC BANK', 'FIRST NATIONAL BANK OF GILBERT',
       'EXCHANGE BANK OF MISSOURI'], dtype=object)

'BankState'

['OH', 'IN', 'DE', 'AL', 'FL', ..., 'AK', 'DC', 'PR', 'GU', 'AN']
Length: 54
Categories (56, object): ['AK', 'AL', 'AN', 'AR', ..., 'WA', 'WI', 'WV', 'WY']

'NAICS'

array([451120, 722410, 621210, ..., 922140, 514110, 221121], dtype=object)

'ApprovalDate'

<DatetimeArray>
['1997-02-28 00:00:00', '2006-02-07 00:00:00', '1997-07-21 00:00:00',
 '1998-05-26 00:00:00', '1998-05-27 00:00:00', '1998-06-01 00:00:00',
 '1998-06-02 00:00:00', '1998-06-05 00:00:00', '1998-06-12 00:00:00',
 '1998-06-15 00:00:00',
 ...
 '1997-02-13 00:00:00', '1997-02-18 00:00:00', '1997-02-14 00:00:00',
 '1997-02-19 00:00:00', '1997-02-20 00:00:00', '1997-02-21 00:00:00',
 '1997-02-24 00:00:00', '1997-02-25 00:00:00', '1997-02-26 00:00:00',
 '1997-02-27 00:00:00']
Length: 7322, dtype: datetime64[ns]

'ApprovalFY'

['1997', '2006', '1998', '1999', '2000', ..., '2013', '1994', '2014', '1995', '1996']
Length: 29
Categories (48, object): ['1966', '1968', '1969', '1970', ..., '2011', '2012', '2013', '2014']

'Term'

array([ 84,  60, 180, 120, 297, 162,  12,  87, 126,  83, 240, 102,  80,
        42,  26,  36,  54,  66,  96,  93,  27,  82,  32, 112,  73, 255,
        55, 133,  35,   5,  62,  72,   6,  57,  46,  70,  52,  48,  65,
        47,  58,   1,  74,  16,   7,   4,  63,  56,  10,  22,   0,  40,
         3,  23, 300,  11,  17,  21,  43,  91,  89,   2,  34,  14,   9,
        78,  18, 129,  97,   8,  29,  30,  39,  24,  13,  15, 119, 228,
        59, 208,  44,  81,  85,  77,  38,  69,  51, 144,  64, 111,  90,
        75, 306,  28, 183, 117, 118,  71,  49, 108, 116,  76, 113, 191,
        19,  61,  45,  99,  25,  98, 166, 114,  94,  95, 231,  33, 157,
       165,  41,  50, 309, 106,  20, 229, 204,  31, 276, 115,  53, 174,
        37,  68,  79, 100, 131, 123,  67, 122, 268, 294, 238, 246, 124,
       186,  92,  86, 192, 128, 147, 280, 318, 264, 101, 121, 216, 278,
       107,  88, 283, 104, 187, 103, 136, 288, 175, 139, 110, 241, 156,
       303, 177, 273, 132, 189, 222, 164, 301, 196, 155, 243, 252, 135,
       185, 168, 149, 261, 181, 146, 150, 109, 349, 206, 145, 152, 207,
       176, 285, 169, 137, 195, 127, 125, 163, 304, 210, 143, 160, 105,
       217, 140, 236, 282, 167, 159, 153, 148, 237, 312, 199, 182, 154,
       230, 203, 219, 184, 263, 248, 178, 188, 258, 130, 225, 215, 202,
       194, 279, 270, 161, 151, 134, 142, 250, 179, 295, 242, 274, 224,
       266, 239, 173, 212, 302, 256, 201, 265, 172, 234, 205, 311, 249,
       299, 190, 245, 138, 223, 213, 244, 290, 197, 334, 171, 200, 291,
       340, 218, 170, 275, 226, 269, 198, 284, 281, 247, 220, 227, 209,
       262, 232, 260, 253, 360, 141, 233, 214, 257, 221, 271, 272, 259,
       305, 254, 235, 320, 298, 251, 277, 158, 321, 286, 267, 292, 289,
       296, 287, 211, 330, 193, 307, 365, 324, 319, 336, 329, 308, 310,
       293, 313, 350, 335, 314, 369, 357, 355, 362, 322, 359, 358, 341,
       323, 315, 326, 333, 372, 348, 356, 396, 382, 385, 367, 374, 354,
       353, 527, 370, 327, 366, 325, 339, 317, 428, 346, 388, 386, 409,
       445, 316, 449, 389, 434, 328, 423, 440, 347, 391])

'NoEmp'

array([   4,    2,    7,   19,    1,   24,    5,   18,   12,    3,   20,
          6,    8,   50,   60,   55,   32,   10,   22,  214,   14,    9,
         28,   11,   40,   30,   16,  112,   15,   23,   17,   65,   25,
         45,   97,   46,   13,   31,  126,   58,   38,    0,   75,   36,
         35,   66,   27, 2000,   34,   26,   93,   85,  150,   29,   41,
        100,   54,   21,  300,   49,  120,   33,  265,  160,   70,   68,
         48,   61,  220,   39,   71,   43,   44,   78,  233,  263,   80,
         63,  210,  450,   86,  165, 9992,  424,   51,  190,   52,   47,
         42,   74,  250,   69,   37,   90,  140,  260,  339,   87,   73,
        110,  161,   62,   59,  105,  116,   53,   88,  400,   67,  605,
         57,   95,  130,   81,   82,   64,   94,  144,  155,   98,   56,
         77,  108,  138,  125,  117,  118,  171,  170,  145,  115,  119,
        900,  180,   79,  200,  128,   91,  600,  576,  196,  135,  121,
        101,   96,  350,  129,  141,  142,   72,  320,   84,  162, 4000,
        104,  230, 8000,  111, 5511,   92,  148,  231, 5084,  175,  500,
       2100, 5947,  368, 5000, 1500,  221,   76,  123,  122,  163,  103,
        275,  102,  761,  146,  421,  195,  106,  143,   99,  305,  187,
        238,  235,  330,   83,  147,  317,  132,  156,  425,  114,  109,
         89,  430, 1000,  256, 3200,  179,  362,  107,  202,  289,  316,
        149,  124,  152,  395,  151,  137,  153,  550,  205, 4100,  113,
        172,  520,  131,  270, 1250, 1200,  390, 4847,  183,  225,  192,
        240,  274,  408,  441,  246,  216,  185,  227,  176,  735,  523,
       1711,  154,  351,  249,  207,  312,  365,  360, 1550,  544,  157,
       9000,  206,  285,  127,  211,  198, 4005,  189,  241,  203,  318,
       1600,  288,  194, 7000,  213, 6000, 1800,  355,  281,  308,  215,
        181,  521,  218,  800,  700,  307,  280,  242, 2200,  750, 2500,
        169,  255,  173,  199,  174,  358,  191,  243, 3000,  354,  315,
        435,  375,  342,  310,  193,  232,  136,  188,  261, 1629,  158,
        133,  325, 1700,  429,  226, 2010,  660,  164,  254,  376,  204,
        464,  245,  247,  182,  197,  370,  134,  178,  604,  456,  295,
        166,  168,  332,  985, 1502,  139,  208,  284,  259,  224, 1300,
        167,  323,  251,  740,  396,  229,  328,  442,  217,  447,  257,
        427,  407,  277,  290,  236,  356, 4685,  625,  177,  223,  420,
        363,  222,  228,  340,  267,  209,  262,  234, 2121,  712,  271,
        237,  258,  377,  560,  404,  302, 3737,  319, 2120,  387,  585,
        292,  505,  346, 3030,  301, 9999, 2300, 3600, 3500,  159,  525,
        253, 1900, 1440,  186,  413,  475, 5680,  244, 1100, 4501, 4800,
       3100, 3334,  329, 1603, 1520, 2202,  201, 1012,  480,  465, 2510,
       1003, 4300,  498,  530,  380,  314, 1940, 1960,  348, 1020,  405,
        212,  858, 1542, 1920,  273])

'NewExist'

['2', '1']
Categories (3, object): ['0', '1', '2']

'CreateJob'

array([   0,    5,    4,    1,    8,   15,    3,   11,    2,   10,    7,
         25,    6,   20,   12,    9,   47,   30,   23,   13,   43,   22,
         18,   21,   14,   82,   80,   70,   19,   33,   27,  150,   38,
         97,   32,   17,   16,   40,   34,   36,   50,   28,   24,   35,
        200,   26,   90,   60,   77,   75,   31,  100,   55,   45,   99,
         48,   29,  120,   69,   95,   42,  160,   37,  600, 1000,   44,
         39,   49,   54,   85,   59,  450,  456,   72,  452,   53,  451,
        198,   79,  454,  136,   63,   98,  455,   76,  152,   41,  225,
        110,  453,  458,  457,  174,   46,   64,  320,  154,  300,   58,
        149,   78,   65,  180,  153,  800,  137,  500,   57,  360,   56,
        122, 1200,   66,  112,  118,   73,  151,  195,   67,  138,  125,
         84,  124, 1711,  131, 1618, 1150,  115,  157,  166,  135,  140,
        210,  252,   61,  116,  102,   74,   71,   62,  129,  105,   52,
        144,   81,  179,  171,  141,  126,   92,   68,  101,  119,  123,
        128,   51,  114,  220,  221,   88,  186,   83,  750,  139,  375,
        109,  130,  264, 3000,  240, 5621,  121,  167,   89,  175,  165,
        222,  106,  363,  250, 1118,  170,  164, 5085,   96,   86,  365,
        400,  397,   94, 1016,   87])

'RetainedJob'

array([   0,   23,    4,    6,    2,    5,   19,    8,   10,   24,    1,
          3,    7,   15,   12,   11,   17,   14,   20,    9,   28,   38,
         26,   13,   50,   93,   40,   18,   21,   35,  150,   25,   45,
         16,  180,  165,   27,   22,   46,   34,   32,  257,   43,   47,
         80,   70,   62,   33,  400,   37,   30,   31,   55,   60,   36,
         95,   48,   65,  120,   29,   71,  130,   81,   52,   94,   58,
         78,  160,  109,  100,   75,  155,   39,   85,   44,   90,   54,
         64,   41,   61,   69,   66,  210,  107,   97,   51,   42,   83,
         63,  112,   53,   77,   76,   87,   68,  118,  138,   67,  125,
         57,   56,  117,  171,  115,  300,  140,  105,   59,   79,  206,
        128,  250,   72,   49,  135,   92,   86,  404,  200,  110,  320,
        139,   82,  108,   88,  104,  230,  102,   98,  101,   84,  220,
         74,  267,   91,  175,  550,  450,  500,   73,  170,  275,  123,
        195,  116,   99,  610,   96,  187,  235,  157,  127,  106,  254,
       4441,  111,  317,  173,  350,   89,  143,  430,  145,  133,  256,
       2200,  362,  202,  148,  225,  316,  154,  141,  113,  161,  172,
        114,  330,  366, 1300,  390,  190,  240,  185,  197,  162,  523,
       1711,  147,  251,  152,  417,  207,  291,  153,  131,  103,  544,
        129,  189,  203,  360,  194,  126,  213,  260,  177,  281,  675,
        700,  247,  600,  245,  750,  151,  205,  121,  191,  342,  124,
        232,  136,  215,  285,  188, 1700,  146,  122,  134,  660,  156,
        214,  370,  318,  137,  208,  515,  259,  159,  375,  328,  263,
        497,  280,  310,  356,  255,  192,  158,  166,  219,  363,  274,
        262,  119,  178,  585,  167,  710,  420,  237,  212,  940,  302,
        394,  244,  297,  485,  270,  800,  387,  480,  315,  498,  911,
        229,  198])

'FranchiseCode'

array([1, 15100, 10656, ..., 16452, 75985, 42533], dtype=object)

'UrbanRural'

[0, 1, 2]
Categories (3, int64): [0, 1, 2]

'RevLineCr'

['N', 'Y']
Categories (3, object): ['0', 'N', 'Y']

'LowDoc'

['Y', 'N']
Categories (3, object): ['0', 'N', 'Y']

'MIS_Status'

array([1, 0])

'GrAppv'

array([ 60000,  40000, 287000, ...,  20686,  45720, 279145])

'SBA_Appv'

array([ 48000,  32000, 215250, ...,  36576, 209358, 430976])

'Zip2'

['47', '46', '60', '34', '32', ..., '7', '8', '5', '3', '6']
Length: 99
Categories (100, object): ['0', '1', '10', '11', ..., '96', '97', '98', '99']

'NAICS2'

['45', '72', '62', '33', '81', ..., '92', '22', '49', '55', '21']
Length: 24
Categories (25, object): ['0', '11', '21', '22', ..., '71', '72', '81', '92']

'Franchised'

[0, 1]
Categories (2, int64): [0, 1]

'RealEstate'

[0, 1]
Categories (2, int64): [0, 1]

## Description des features

| Colonne        | Type de données   | Modalités                 | Exemple de Données | Description                                       |
|----------------|-------------------|---------------------------|--------------------|---------------------------------------------------|
| Name           | Object            | N/A                       | "Entreprise A"     | Nom de l'entreprise souhaitant réaliser le prêt   |
| City           | Object            | N/A                       | "New York"         | Ville où se l'entreprise                          |
| State          | Category          | "NY", "CA" ...            | "NY"               | État où se situe l'entreprise (abréviations en deux lettres)|
| Zip            | Object            | N/A                       | 10001              | Code postal de l'entreprise                       |
| Bank           | Object            | N/A                       | "ABC Bank"         | Nom de la banque accordant le prêt                |
| BankState      | Category          | "NY", "CA"...             | "NY"               | État où se situe la banque (abréviations en deux lettres)|
| NAICS          | Object            | N/A                       | 722410             | Code du secteur d'activité de l'entreprise        |
| ApprovalDate   | Datetime64[ns]    | N/A                       | 2023-05-12         | Date à laquelle le prêt a été approuvé            |
| ApprovalFY     | Category          | "1970", "1971" ..         | "2023"             | Année fiscale du prêt                             |
| Term           | Int64             | N/A                       | 60                 | Durée du prêt en mois                             |
| NoEmp          | Int64             | N/A                       | 10                 | Nombre d'employés de l'entreprise                 |
| NewExist       | Category          | "New", "Existing"         | "Existing"         | Indication si l'entreprise est nouvelle ou existante|
| CreateJob      | Int64             | N/A                       | 5                  | Nombre d'emplois créés par le prêt                |
| RetainedJob    | Int64             | N/A                       | 8                  | Nombre d'emplois conservés grâce au prêt          |
| FranchiseCode  | Object            | 0, 11500, 12564 ...       | 0                  | Code indiquant si l'entreprise est une franchise  |
| UrbanRural     | Category          | "Urban", "Rural",         | Urban              | Type d'environnement où se situe l'entreprise     |
| RevLineCr      | Category          | "Y", "N"                  | Y                  | Indication sur si une ligne de crédit rotatif est disponible |
| LowDoc         | Category          | "Y", "N"                  | N                  | Indication sur si le prêt est de faible documentation |
| MIS_Status     | Int64             | N/A                       | 1                  | Statut du prêt                                    |
| GrAppv         | Int64             | N/A                       | 150000             | Montant total approuvé pour le prêt               |
| SBA_Appv       | Int64             | N/A                       | 75000              | Montant approuvé par la Small Business Administration pour le prêt |
| Zip2           | Category          | "10", "20", "30", ...     | 10                 | Code postal de l'entité (représenté en catégorie) |
| NAICS2         | Category          | "120000", "130000"        | 120000             | Code du secteur d'activité de l'entité (représenté en catégorie) |
| Franchised     | Category          | "Yes", "No"               | No                 | Indication sur si l'entité est une franchise      |
| RealEstate     | Category          | "Yes", "No"               | Yes                | Indication sur si le prêt est lié à l'immobilier  |

## Exploration avec SweetViz

In [8]:
report = sv.analyze(data, "MIS_Status")
report.show_html("sv-reports/report_sm.html", layout="vertical")

                                             |          | [  0%]   00:00 -> (? left)

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:01 -> (00:00 left)

Report sv-reports/report_sm.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## Autres explorations

In [5]:
subway_subset = data[data["Name"] == "SUBWAY"]

display(subway_subset.head())

subway_subset["MIS_Status"].value_counts()

,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,...,UrbanRural,RevLineCr,LowDoc,MIS_Status,GrAppv,SBA_Appv,Zip_2,NAICS_2,Franchised,RealEstate
24,SUBWAY,LITTLE ROCK,AR,72223,HOPE FCU,MS,722211,2006-02-07,2006,126,...,1,N,N,1,137300,116705,72,72,0,0
3156,SUBWAY,GLEN MILLS,PA,19342,"PNC BANK, NATIONAL ASSOCIATION",DE,722211,2006-02-10,2006,72,...,1,0,N,1,50000,25000,19,72,0,0
7461,SUBWAY,MANCHESTER,ME,4351,BANGOR SAVINGS BANK,ME,722211,2006-02-16,2006,84,...,1,0,N,1,102000,86700,43,72,1,0
8287,SUBWAY,NORWICH,CT,6360,BANK OF AMERICA NATL ASSOC,RI,722211,2004-09-08,2004,36,...,1,Y,N,1,47000,23500,63,72,1,0
10198,SUBWAY,ATHENS,TX,75751,COMMUNITY NATL BK & TR OF TEXA,TX,0,1997-04-01,1997,84,...,0,N,Y,1,77600,62080,75,0,0,0

MIS_Status
1    1203
0      66
Name: count, dtype: int64

In [6]:
pizza_subset = data[data["Name"] == "DOMINO'S PIZZA"]

display(pizza_subset.head())

,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,...,UrbanRural,RevLineCr,LowDoc,MIS_Status,GrAppv,SBA_Appv,Zip_2,NAICS_2,Franchised,RealEstate
2499,DOMINO'S PIZZA,SARASOTA,FL,34231,STEARNS BK NATL ASSOC,FL,0,1997-03-06,1997,60,...,0,N,N,1,260000,195000,34,0,1,0
10553,DOMINO'S PIZZA,SPRINGFIELD,MO,65802,EMPIRE BANK,MO,0,1997-03-28,1997,84,...,0,N,N,1,90000,72000,65,0,1,0
11440,DOMINO'S PIZZA,PONTE VERDE BEACH,FL,32082,OLD FLORIDA BANK,FL,0,1997-04-01,1997,85,...,0,0,N,1,90000,72000,32,0,1,0
12269,DOMINO'S PIZZA,GUNTERSVILLE,AL,35976,BANCORPSOUTH BANK,AL,0,1997-04-02,1997,60,...,0,N,Y,1,75000,60000,35,0,1,0
14721,DOMINO'S PIZZA,UNIONDALE,NY,11553,BANCO POPULAR NORTH AMERICA,NY,0,1997-04-08,1997,120,...,0,0,N,1,96000,76800,11,0,1,0

In [7]:
naics_subset = data[data["NAICS"] == 0]
display(naics_subset)

,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,...,UrbanRural,RevLineCr,LowDoc,MIS_Status,GrAppv,SBA_Appv,Zip_2,NAICS_2,Franchised,RealEstate
3,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997,60,...,0,N,Y,1,35000,28000,74,0,0,0
4,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997,240,...,0,N,N,1,229000,229000,32,0,0,1
6,MIDDLE ATLANTIC SPORTS CO INC,UNION,NJ,7083,WELLS FARGO BANK NATL ASSOC,SD,0,1980-06-02,1980,45,...,0,N,N,0,600000,499998,70,0,0,0
9,INTEXT BUILDING SYS LLC,GLASTONBURY,CT,6073,WEBSTER BANK NATL ASSOC,CT,0,1997-02-28,1997,84,...,0,N,Y,1,70000,56000,60,0,0,0
13,"ORCHARD CAFE & BAKERY, INC.",SLATERSVILLE,RI,2876,CITIZENS BANK NATL ASSOC,RI,0,1997-02-28,1997,120,...,0,N,N,1,370000,277500,28,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899153,NORTH SHORE FLORAL,WOODBURY,NY,11797,FLUSHING BANK,NY,0,1997-02-27,1997,119,...,0,0,N,0,142000,106500,11,0,0,0
899154,"LITWIN LIVERY SERVICES, INC.",CAMPBELL,OH,44405,JPMORGAN CHASE BANK NATL ASSOC,IL,0,1997-02-27,1997,60,...,0,0,N,1,10000,5000,44,0,0,0
899158,SHADES WINDOW TINTING AUTO ALA,IRVING,TX,75062,LOANS FROM OLD CLOSED LENDERS,DC,0,1997-02-27,1997,84,...,0,N,Y,1,79000,63200,75,0,0,0
899162,"MARUTAMA HAWAII, INC.",HONOLULU,HI,96830,BANK OF HAWAII,HI,0,1997-02-27,1997,60,...,0,N,Y,0,75000,60000,96,0,0,0
899163,PACIFIC TRADEWINDS FAN & LIGHT,KAILUA,HI,96734,CENTRAL PACIFIC BANK,HI,0,1997-02-27,1997,48,...,0,N,N,1,30000,24000,96,0,0,0