# Exploration des données

## Importation librairies et dataset

In [19]:
import numpy as np
import pandas as pd
import pickle
import sweetviz as sv

In [20]:
with open("datasets/dataset.pkl", "rb") as file:
    data = pickle.load(file)
file.close()

data.head()

,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,UrbanRural,RevLineCr,LowDoc,MIS_Status,GrAppv,Franchised,RealEstate
0,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,45,1997-02-28,1997,84,4,2.0,0,0,N,Y,1,60000,0,0
1,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,72,1997-02-28,1997,60,2,2.0,0,0,N,Y,1,40000,0,0
2,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,62,1997-02-28,1997,180,7,1.0,0,0,N,N,1,287000,0,0
3,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,1997-02-28,1997,60,2,1.0,0,0,N,Y,1,35000,0,0
4,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,1997-02-28,1997,240,14,1.0,7,0,N,N,1,229000,0,1

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 897167 entries, 0 to 899163
Data columns (total 20 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Name          897153 non-null  object
 1   City          897137 non-null  object
 2   State         897154 non-null  category
 3   Zip           897167 non-null  object
 4   Bank          895661 non-null  object
 5   BankState     895654 non-null  category
 6   NAICS         897167 non-null  category
 7   ApprovalDate  897167 non-null  datetime64[ns]
 8   ApprovalFY    897167 non-null  object
 9   Term          897167 non-null  int64
 10  NoEmp         897167 non-null  int64
 11  NewExist      897033 non-null  category
 12  CreateJob     897167 non-null  int64
 13  UrbanRural    897167 non-null  category
 14  RevLineCr     897167 non-null  category
 15  LowDoc        897167 non-null  category
 16  MIS_Status    897167 non-null  int64
 17  GrAppv        897167 non-null  int64
 18  Franchised    897167 non-null  category
 19  RealEstate    897167 non-null  category
dtypes: category(9), datetime64[ns](1), int64(5), object(5)
memory usage: 89.8+ MB

## Exploration avec SweetViz

In [22]:
# data["ApprovalFY"] = pd.to_numeric(data['ApprovalFY'], errors='coerce')

report = sv.analyze(data, "MIS_Status")
report.show_html("sv-reports/report.html", layout="vertical")

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:00 -> (00:00 left)

Report sv-reports/report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## Autres explorations

In [23]:
subway_subset = data[data["Name"] == "SUBWAY"]

display(subway_subset.head())

subway_subset["MIS_Status"].value_counts()

,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,UrbanRural,RevLineCr,LowDoc,MIS_Status,GrAppv,Franchised,RealEstate
24,SUBWAY,LITTLE ROCK,AR,72223,HOPE FCU,MS,72,2006-02-07,2006,126,7,1.0,0,1,N,N,1,137300,0,0
3156,SUBWAY,GLEN MILLS,PA,19342,"PNC BANK, NATIONAL ASSOCIATION",DE,72,2006-02-10,2006,72,3,2.0,1,1,0,N,1,50000,0,0
7461,SUBWAY,MANCHESTER,ME,4351,BANGOR SAVINGS BANK,ME,72,2006-02-16,2006,84,2,1.0,1,1,0,N,1,102000,1,0
8287,SUBWAY,NORWICH,CT,6360,BANK OF AMERICA NATL ASSOC,RI,72,2004-09-08,2004,36,10,2.0,0,1,Y,N,1,47000,1,0
10198,SUBWAY,ATHENS,TX,75751,COMMUNITY NATL BK & TR OF TEXA,TX,0,1997-04-01,1997,84,23,1.0,0,0,N,Y,1,77600,0,0

MIS_Status
1    1203
0      66
Name: count, dtype: int64

In [24]:
pizza_subset = data[data["Name"] == "DOMINO'S PIZZA"]

display(pizza_subset.head())

,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,UrbanRural,RevLineCr,LowDoc,MIS_Status,GrAppv,Franchised,RealEstate
2499,DOMINO'S PIZZA,SARASOTA,FL,34231,STEARNS BK NATL ASSOC,FL,0,1997-03-06,1997,60,50,1.0,0,0,N,N,1,260000,1,0
10553,DOMINO'S PIZZA,SPRINGFIELD,MO,65802,EMPIRE BANK,MO,0,1997-03-28,1997,84,109,1.0,0,0,N,N,1,90000,1,0
11440,DOMINO'S PIZZA,PONTE VERDE BEACH,FL,32082,OLD FLORIDA BANK,FL,0,1997-04-01,1997,85,50,1.0,0,0,0,N,1,90000,1,0
12269,DOMINO'S PIZZA,GUNTERSVILLE,AL,35976,BANCORPSOUTH BANK,AL,0,1997-04-02,1997,60,12,1.0,0,0,N,Y,1,75000,1,0
14721,DOMINO'S PIZZA,UNIONDALE,NY,11553,BANCO POPULAR NORTH AMERICA,NY,0,1997-04-08,1997,120,12,2.0,0,0,0,N,1,96000,1,0

In [25]:
naics_subset = data[data["NAICS"] == 0]
display(naics_subset)

Empty DataFrame
Columns: [Name, City, State, Zip, Bank, BankState, NAICS, ApprovalDate, ApprovalFY, Term, NoEmp, NewExist, CreateJob, UrbanRural, RevLineCr, LowDoc, MIS_Status, GrAppv, Franchised, RealEstate]
Index: []