# Nettoyage du dataset SBAnational

## Import librairies et datasets

In [260]:
import pandas as pd
import numpy as np

In [261]:
data = pd.read_csv("datasets/SBAnational.csv")

/tmp/ipykernel_10426/972199569.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("datasets/SBAnational.csv")

In [262]:
col_to_drop = ["LoanNr_ChkDgt", "ChgOffDate", "DisbursementDate", "DisbursementGross", "BalanceGross", "ChgOffPrinGr", "SBA_Appv"]
data = data.drop(col_to_drop, axis=1)

In [263]:
data.head()

,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,MIS_Status,GrAppv
0,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,84,4,2.0,0,0,1,0,N,Y,P I F,"$60,000.00"
1,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,60,2,2.0,0,0,1,0,N,Y,P I F,"$40,000.00"
2,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,180,7,1.0,0,0,1,0,N,N,P I F,"$287,000.00"
3,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,60,2,1.0,0,0,1,0,N,Y,P I F,"$35,000.00"
4,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,240,14,1.0,7,7,1,0,N,N,P I F,"$229,000.00"

## Changement des types

In [264]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899164 entries, 0 to 899163
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Name           899150 non-null  object
 1   City           899134 non-null  object
 2   State          899150 non-null  object
 3   Zip            899164 non-null  int64
 4   Bank           897605 non-null  object
 5   BankState      897598 non-null  object
 6   NAICS          899164 non-null  int64
 7   ApprovalDate   899164 non-null  object
 8   ApprovalFY     899164 non-null  object
 9   Term           899164 non-null  int64
 10  NoEmp          899164 non-null  int64
 11  NewExist       899028 non-null  float64
 12  CreateJob      899164 non-null  int64
 13  RetainedJob    899164 non-null  int64
 14  FranchiseCode  899164 non-null  int64
 15  UrbanRural     899164 non-null  int64
 16  RevLineCr      894636 non-null  object
 17  LowDoc         896582 non-null  object
 18  MIS_Status     897167 non-null  object
 19  GrAppv         899164 non-null  object
dtypes: float64(1), int64(8), object(11)
memory usage: 137.2+ MB

In [265]:
data["GrAppv"] = pd.to_numeric(data['GrAppv'].str.replace("[^\d.]", "", regex=True), errors="coerce").astype(int)


data = data.astype({"State": "category",
                    "Zip": "object", 
                    "BankState": "category",
                    "NAICS": "object",
                    "NewExist": "category",
                    "FranchiseCode": "object",
                    "UrbanRural": "object",
                    "GrAppv": "int64"})

In [266]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899164 entries, 0 to 899163
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Name           899150 non-null  object
 1   City           899134 non-null  object
 2   State          899150 non-null  category
 3   Zip            899164 non-null  object
 4   Bank           897605 non-null  object
 5   BankState      897598 non-null  category
 6   NAICS          899164 non-null  object
 7   ApprovalDate   899164 non-null  object
 8   ApprovalFY     899164 non-null  object
 9   Term           899164 non-null  int64
 10  NoEmp          899164 non-null  int64
 11  NewExist       899028 non-null  category
 12  CreateJob      899164 non-null  int64
 13  RetainedJob    899164 non-null  int64
 14  FranchiseCode  899164 non-null  object
 15  UrbanRural     899164 non-null  object
 16  RevLineCr      894636 non-null  object
 17  LowDoc         896582 non-null  object
 18  MIS_Status     897167 non-null  object
 19  GrAppv         899164 non-null  int64
dtypes: category(3), int64(5), object(12)
memory usage: 119.2+ MB

In [267]:
data.head()

,Name,City,State,Zip,Bank,BankState,NAICS,ApprovalDate,ApprovalFY,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,RevLineCr,LowDoc,MIS_Status,GrAppv
0,ABC HOBBYCRAFT,EVANSVILLE,IN,47711,FIFTH THIRD BANK,OH,451120,28-Feb-97,1997,84,4,2.0,0,0,1,0,N,Y,P I F,60000
1,LANDMARK BAR & GRILLE (THE),NEW PARIS,IN,46526,1ST SOURCE BANK,IN,722410,28-Feb-97,1997,60,2,2.0,0,0,1,0,N,Y,P I F,40000
2,"WHITLOCK DDS, TODD M.",BLOOMINGTON,IN,47401,GRANT COUNTY STATE BANK,IN,621210,28-Feb-97,1997,180,7,1.0,0,0,1,0,N,N,P I F,287000
3,"BIG BUCKS PAWN & JEWELRY, LLC",BROKEN ARROW,OK,74012,1ST NATL BK & TR CO OF BROKEN,OK,0,28-Feb-97,1997,60,2,1.0,0,0,1,0,N,Y,P I F,35000
4,"ANASTASIA CONFECTIONS, INC.",ORLANDO,FL,32801,FLORIDA BUS. DEVEL CORP,FL,0,28-Feb-97,1997,240,14,1.0,7,7,1,0,N,N,P I F,229000

## Vérification valeurs manquantes

In [268]:
display(data.isnull().sum())

Name               14
City               30
State              14
Zip                 0
Bank             1559
BankState        1566
NAICS               0
ApprovalDate        0
ApprovalFY          0
Term                0
NoEmp               0
NewExist          136
CreateJob           0
RetainedJob         0
FranchiseCode       0
UrbanRural          0
RevLineCr        4528
LowDoc           2582
MIS_Status       1997
GrAppv              0
dtype: int64

### Target : MIS_Status

In [269]:
data = data.dropna(subset=["MIS_Status"])
data.isnull().sum()

Name               14
City               30
State              13
Zip                 0
Bank             1506
BankState        1513
NAICS               0
ApprovalDate        0
ApprovalFY          0
Term                0
NoEmp               0
NewExist          134
CreateJob           0
RetainedJob         0
FranchiseCode       0
UrbanRural          0
RevLineCr        4520
LowDoc           2578
MIS_Status          0
GrAppv              0
dtype: int64

On retire les observations pour lesquelles la target est manquante.

### Features

In [270]:
missing_values = data.isnull().sum()
col_missing_values = missing_values[missing_values > 0].index.tolist()

for feature in col_missing_values:
    print(f"Valeurs manquantes sur le subset {feature}")
    display(data[data[feature].isnull()].isnull().sum())

Valeurs manquantes sur le subset Name

Name             14
City              0
State             0
Zip               0
Bank              0
BankState         0
NAICS             0
ApprovalDate      0
ApprovalFY        0
Term              0
NoEmp             0
NewExist          0
CreateJob         0
RetainedJob       0
FranchiseCode     0
UrbanRural        0
RevLineCr         0
LowDoc            0
MIS_Status        0
GrAppv            0
dtype: int64

Valeurs manquantes sur le subset City

Name              0
City             30
State             0
Zip               0
Bank              2
BankState         2
NAICS             0
ApprovalDate      0
ApprovalFY        0
Term              0
NoEmp             0
NewExist          0
CreateJob         0
RetainedJob       0
FranchiseCode     0
UrbanRural        0
RevLineCr         0
LowDoc            0
MIS_Status        0
GrAppv            0
dtype: int64

Valeurs manquantes sur le subset State

Name              0
City              0
State            13
Zip               0
Bank              0
BankState         0
NAICS             0
ApprovalDate      0
ApprovalFY        0
Term              0
NoEmp             0
NewExist          0
CreateJob         0
RetainedJob       0
FranchiseCode     0
UrbanRural        0
RevLineCr         0
LowDoc            0
MIS_Status        0
GrAppv            0
dtype: int64

Valeurs manquantes sur le subset Bank

Name                0
City                2
State               0
Zip                 0
Bank             1506
BankState        1506
NAICS               0
ApprovalDate        0
ApprovalFY          0
Term                0
NoEmp               0
NewExist            0
CreateJob           0
RetainedJob         0
FranchiseCode       0
UrbanRural          0
RevLineCr           9
LowDoc              0
MIS_Status          0
GrAppv              0
dtype: int64

Valeurs manquantes sur le subset BankState

Name                0
City                2
State               0
Zip                 0
Bank             1506
BankState        1513
NAICS               0
ApprovalDate        0
ApprovalFY          0
Term                0
NoEmp               0
NewExist            0
CreateJob           0
RetainedJob         0
FranchiseCode       0
UrbanRural          0
RevLineCr           9
LowDoc              0
MIS_Status          0
GrAppv              0
dtype: int64

Valeurs manquantes sur le subset NewExist

Name               0
City               0
State              0
Zip                0
Bank               0
BankState          0
NAICS              0
ApprovalDate       0
ApprovalFY         0
Term               0
NoEmp              0
NewExist         134
CreateJob          0
RetainedJob        0
FranchiseCode      0
UrbanRural         0
RevLineCr          0
LowDoc             3
MIS_Status         0
GrAppv             0
dtype: int64

Valeurs manquantes sur le subset RevLineCr

Name                0
City                0
State               0
Zip                 0
Bank                9
BankState           9
NAICS               0
ApprovalDate        0
ApprovalFY          0
Term                0
NoEmp               0
NewExist            0
CreateJob           0
RetainedJob         0
FranchiseCode       0
UrbanRural          0
RevLineCr        4520
LowDoc              0
MIS_Status          0
GrAppv              0
dtype: int64

Valeurs manquantes sur le subset LowDoc

Name                0
City                0
State               0
Zip                 0
Bank                0
BankState           0
NAICS               0
ApprovalDate        0
ApprovalFY          0
Term                0
NoEmp               0
NewExist            3
CreateJob           0
RetainedJob         0
FranchiseCode       0
UrbanRural          0
RevLineCr           0
LowDoc           2578
MIS_Status          0
GrAppv              0
dtype: int64

## Nettoyage par colonnes

### ApprovalFY

In [271]:
data["ApprovalFY"].unique()

array([1997, 1980, 2006, 1998, 1999, 2000, 2001, 1972, 2003, 2004, 1978,
       1979, 1981, 2005, 1982, 1966, 1983, 1973, 1984, 2007, 1985, 1986,
       1987, 2008, 1988, 2009, 1989, 1991, 1990, 1974, 2010, 2011, 1992,
       1993, 2002, 2012, 2013, 1994, 2014, 1975, 1977, 1976, '2004',
       '1994', '1979', '1976', '1975', '1974', '1977', '1981', '1982',
       '1983', '1984', '1978', '1980', '1968', '1976A', '1969', '1995',
       '1970', '2005', '1996', '1971', 1996, 1971], dtype=object)

In [272]:
data['ApprovalFY'] = data['ApprovalFY'].astype(str).str.replace('[^\d]', '')

In [273]:
data.isnull().sum()

Name               14
City               30
State              13
Zip                 0
Bank             1506
BankState        1513
NAICS               0
ApprovalDate        0
ApprovalFY          0
Term                0
NoEmp               0
NewExist          134
CreateJob           0
RetainedJob         0
FranchiseCode       0
UrbanRural          0
RevLineCr        4520
LowDoc           2578
MIS_Status          0
GrAppv              0
dtype: int64

### Autres

## Exportation du dataset nettoyé

In [274]:
data.to_csv("datasets/SBAnational-cleaned.csv", index=None)